@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

main {
  padding: 24px;
  background-color: #121212;
  flex-grow: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  main {
    padding: 80px 16px 16px 16px;
    width: 100%;
  }
  
  .container {
    display: block;
  }
}

@media (max-width: 480px) {
  main {
    padding: 70px 12px 12px 12px;
  }
}

.rounded {
  width: 64px;
  height: 64px;
  border-radius: 64%;
}

button {
  background-color: #57B660;
  color: black;
  border: none;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 24px;
  gap: 10px;
  height: 42px;
  width: 185px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:link {
  color: inherit;
}

a:hover {
  color: inherit;
}